@font-face {
    font-family: "Atari Classic";
    src: url('../atari-font/AtariClassic-gry3.ttf');
    src: url('../atari-font/AtariClassic-gry3.ttf') format('ttf'),
    
  
         
  }

.v-application {
    font-family: "Atari classic", Helvetica, sans-serif !important;
     .title { 
        font-family: sans-serif !important;
     }
     background-color: #99CBDB !important;
}
p {
   color: #3C2525;
   text-align: center;
   letter-spacing: -4px;
}

h1 {
   color: #3C2525;
   text-align: center;
   letter-spacing: -1px;
}
h2 {
   color: #3C2525;
   text-align: center;
   letter-spacing: -4px;
}

 #div-color {
   background-color: #FFF7D0;
 }

 .stroke {
  text-shadow:
   -3px -3px 0 #ffffff,  
    3px -3px 0 #ffffff,
    -3px 3px 0 #ffffff,
     3px 3px 0 #ffffff;
 }
 .stroke-mini {
   text-shadow:
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
     -1px 1px 0 #ffffff,
      1px 1px 0 #ffffff;
   
      
}
.v-container{
   padding: 525px;
}

.roboto-font {
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0px;
}

.responsive-image {
   max-width: 100%;
   height: auto;
 }

 .shrink-button {
   width: 450px;
   max-width: 100%; /* Ensure the button doesn't exceed its parent container */
   flex: 1;

   /* Responsive behavior at different breakpoints */
   @media only screen and (max-width: 500px) {
  
     width: 350px;
     
   }
 }

 .shrink-card {
   @media only screen and (max-width: 500px) {
  width: 200px;
      font-size: 10px;
      
    }
 }